#demos {
    width:950px;
    margin:30px auto 0 auto;
    padding-left: 33px;
}

#demos img {
   width:200px;
   margin:15px auto 12px;
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#demos ul {
	width: 200px;
  padding:0;
  margin:0;
  text-align:center;
}

#demos ul li {
  font-size:0.9em;
  margin-bottom:3px;
  color: #686c70;
  list-style-type: none;
}

#demos .col {
  width:316px;
  height:260px;
  font-size:0.9em;
  float:left;
  text-align:left;
}

#demos .col .title {
  font-size:1.1em;
  width: 200px;
  text-align:center;

  color: #222;  
  text-shadow:2px 2px 5px rgba(10, 10, 10, 0.2);
  -o-text-shadow:2px 2px 5px rgba(10, 10, 10, 0.2);
  -webkit-text-shadow:2px 2px 5px rgba(10, 10, 10, 0.2);
  -moz-text-shadow:2px 2px 5px rgba(10, 10, 10, 0.2);
}

#rgraph-demos {
    left:25px;
    top:0;
}

#hypertree-demos {
    left:275px;
    top:0;
}

#spacetree-demos {
    left:525px;
    top:0;
}

#treemap-demos {
    top:300px;
    left:150px;
}

#other-demos {
    top:300px;
    left:400px;
}