$def with (model)

<table>
    <tr>
        <td>
            Animate:
        </td>
        <td>
            <input type="checkbox" id="animate" checked="checked" />
        </td>
    </tr>
    <tr>
        <td>
            Remove Root:
        </td>
        <td>
            <input type="checkbox" id="removeroot" checked="checked" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="removeSubtree" value="Remove Subtree" />
        </td>
        <td>
            <input type="button" value="Refresh" onclick="window.location = window.location" />
        </td>
    </tr>
</table>