$def with (model)


<h4>1.- Two nodes - Reverse the edge </h4>

<table>
    <tr>
        <td>
            <input type="button" value="load" id="loadSample1" />
        </td>
        <td>
            <input type="button" value="run" id="runSample1" />
        </td>
    </tr>
</table>

<h4>2.- Three Nodes </h4>

<table>
    <tr>
        <td>
            <input type="button" value="load" id="loadSample2" />
        </td>
        <td>
            <input type="button" value="run" id="runSample2" />
        </td>
    </tr>
</table>

<h4>3.- Four Nodes </h4>

<table>
    <tr>
        <td>
            <input type="button" value="load" id="loadSample3" />
        </td>
        <td>
            <input type="button" value="run" id="runSample3" />
        </td>
    </tr>
</table>
