$def with (name, title, extras, example, build, includes, fancy)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$name - $title</title>

<!-- CSS Files -->
<link type="text/css" href="../css/base.css" rel="stylesheet" />
<link type="text/css" href="../css/${name}.css" rel="stylesheet" />

$if extras:
    $for lib in extras:
        $if lib == "excanvas.js":
            <!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
$if fancy:
    <script language="javascript" type="text/javascript" src="../../jit-yc.js"></script>
$else:
    <script language="javascript" type="text/javascript" src="../../jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="${example}.js"></script>
</head>

<body onload="init();">
<div id="container">

<div id="left-container">
$:includes['left']

$if fancy:
    <div style="text-align:center;"><a href="${example}.code.html">See the Example Code</a></div>
$else:
    <div style="text-align:center;"><a href="${example}.js">See the Example Code</a></div>            
</div>

<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container">
$:includes['right']
</div>

<div id="log"></div>
</div>
</body>
</html>
