$def with (name, title, extras, test, build, includes)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>$name - $title</title>

<!-- Test CSS -->
<link type="text/css" href="/Tests/css/base.css" rel="stylesheet" />
<link type="text/css" href="/Tests/css/${name}.css" rel="stylesheet" />

<!-- Add extra libraries -->
<script language="javascript" type="text/javascript" src="/Tests/js/common.js"></script>
<script language="javascript" type="text/javascript" src="/Tests/$name/left.js"></script>

$if extras:
    $for lib in extras:
        $if lib == "excanvas.js":
            <!--[if IE]><script language="javascript" type="text/javascript" src="/Extras/excanvas.js"></script><![endif]-->
        $else:
            <script language="javascript" type="text/javascript" src="/Extras/$lib"></script>

<!-- Add build -->
<script language="javascript" type="text/javascript">
$:build    
</script>

<!-- Add test -->
<script language="javascript" type="text/javascript" src="/Tests/$name/$test"></script>
</head>

<body onload="init();">
<div id="container">
    <div id="left-container">
$:includes['left']
    </div>
    <div id="center-container">
        <div id="infovis"></div>    
    </div>
    <div id="right-container">
$:includes['right']
    </div>
<div id="log"></div>
</div>
</body>
</html>
