$def with (model)

<table>
<tr>
    <td>
        Layout:
    </td>
    <td>
        <select id="layout">
            <option>
                Squarified
            </option>
            <option>
                SliceAndDice
            </option>
            <option>
                Strip
            </option>
        </select>
    </td>
</tr>
<tr>
    <td>
        Colored:
    </td>
    <td>
        <input type="checkbox" id="colored" checked="checked" />
    </td>
</tr>
<tr>
    <td>Title:</td>
    <td>
        <input type="checkbox" id="title" checked="checked" />
    </td>
</tr>
<tr>
    <td>Offset:</td>
    <td>
        <input type="checkbox" id="offset" checked="checked" />
    </td>
</tr>
<tr>
    <td>Horizontal:</td>
    <td>
        <input type="checkbox" id="horizontal" checked="checked" />
    </td>
</tr>
</table>

<input type="button" id="out_button" value="out" />
<div id="inner-details"></div>