$def with (model, type, number, max)

$if number > 1:
    <a href="/testcase/$type/${number -1}/" title="previous">previous</a>
$if number < max:
    <a href="/testcase/$type/${number +1}/" title="next">next</a>


        <div class="text">
        <h4>
$model['Title']    
        </h4> 
$:model['Description']
        </div>
        <ul id="id-list"></ul>
        <a id="update" href="#" class="theme button white">Update Data</a>
        <a id="restore" href="#" class="theme button white">Remove Filter</a>
        
        