.tip {
   text-align: left;
   width:auto;
   max-width:500px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}

#right-container {
  display: none;
}

#center-container {
  width:800px;
}

#infovis {
  width:800px;
}

